/* Colors:
#130208 background
#FFFFFF default text color
#7A7A7A sub text color
#81180E highlight color
*/
/* Fonts:
Montserrat
Josefin Sans
Prompt 
*/

body {
  background-color: #130208;
  font-family: montserrat;
  font-weight: 100;
  color: #ffffff;
  margin-left: 100px;
}
@font-face {
  font-family: "montserrat";
  src: url(../fonts/Montserrat-Medium.ttf);
  font-style: normal;
  font-weight: 100;
}
.navbar {
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
}
.navbar > div {
  margin: 10px;
}
.navbar > div > a {
  color: #7a7a7a;
  text-decoration: none;
}
.navbar > div > a:active {
  color: #ffffff;
}
.contactInput {
display: flex;
justify-content: center;
margin-top: 3em;
}
.contactInput > form > div{
  margin: 2em;
}

.formInput{
  margin-top: 5px;
  background-color:#130208;
  border: 1px solid #7a7a7a;
  color: #ffffff;
}
.footer {
  position: fixed;
  right: 2em;
  bottom: 2em;
}
.footer > div > a {
  color: #7a7a7a;
  text-decoration: none;
}
